# Dependencias
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-ssr
dist2

# Vite arquivos temporarios
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editores
*.local
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo

# Env
.env
.env.local
.env.*.local
